<% title "Recommendations" %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>URL</th>
  </tr>
  <% for recommendation in @recommendations %>
    <tr>
      <td><%= recommendation.title %></td>
      <td><%= recommendation.description %></td>
      <td><%= recommendation.url %></td>
      <% admin_content do %>
      <td><%= link_to "Show", recommendation %></td>
      <td><%= link_to "Edit", edit_recommendation_path(recommendation) %></td>
      <td><%= link_to "Destroy", recommendation, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>