<% title "Recommendation" %>

<p>
  <strong>Title:</strong>
  <%= @recommendation.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @recommendation.description %>
</p>
<p>
  <strong>Url:</strong>
  <%= @recommendation.url %>
</p>

<% admin_content.do %>
<p>
  <%= link_to "Edit", edit_recommendation_path(@recommendation) %> |
  <%= link_to "Destroy", @recommendation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", recommendations_path %>
</p>
<% end %>
