<% color 'green' %>
<%= form_for @event do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.url_field :url %>
  </p>
  <p>
    <%= f.label :room_id %><br />
    <%= select_tag 'event[room_id]', options_for_room_select %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time, :default => 24.hours.from_now, :minute_step => 30, :ampm => true, 
      :order => [ :month, :day, :year, :hour, :minute ] %>
    <script type="text/javascript">
      datePickerController.createDatePicker({
        formElements:{"event_start_time_1i":"Y","event_start_time_2i":"n","event_start_time_3i":"j"},
        statusFormat:"l-cc-sp-d-sp-F-sp-Y"
      });
    </script>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.number_field :duration, :min => 0.5, :step => 0.5, :max => current_user.admin? ? 48 : 3, :default => 1 %> hours
  </p>
  <p>
    <%= f.label :policy %><br />
    <%= f.check_box :policy %> &nbsp; By checking this box, I confirm that I have read and agree with the
      <%= link_to "/usr/lib room reservation policy", reservation_policy_path, :target => '_blank' %>.
  </p>
  <p><%= f.submit %></p>
<% end %>
