<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  <%= calendar_for @events, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :start_time) do |date, events| %>
      <%= date.day %>
      <% events.each do |event| %>
      <%= link_to event.name, event %>
      <% end %>
    <% end %>
  <% end %>
</div> 

<% if @events.length > 0 %>
<table>
  <tr>
    <th>Event</th>
    <th>URL</th>
    <th>Owner</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= event.url ? link_to( event.url, event.url ) : None %></td>
      <td><%= event.member.user.name %></td>
      <td><%= event.start_time.strftime("%a, %B %d") %></td>
      <td><%= event.start_time.strftime("%I:%M %p") %> - <%= event.end_time.strftime("%I:%M %p") %></td>
<% admin_content do %>
      <td><%= link_to "Show", event %></td>
      <td><%= link_to "Edit", edit_event_path(event) %></td>
      <td><%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
    </tr>
  <% end %>
</table>
<% end %>