<% color 'blue' %>

<div id="calendarBar">
  <%= link_to_if @view == 'week', 'Month View', { :month => @date.strftime("%Y-%m") } %> |
  <%= link_to_if @view == 'month', 'Week View', { :week => @date.strftime("%Y-%m-%d") } %>
  <div class="formats">
    <%= link_to image_tag('json_icon.png'), { :format => 'json' } %>
    <%= link_to image_tag('ical_icon.gif'), { :format => 'ics' } %> 
  </div>
</div>

<% if @view == 'week' %>

  <h2 id="date">
  <% weekly_links(:date => @date) %>
  </h2>

  <% weekly_calendar(@events, :date => @date) do |w| %> 
    <% w.week do |event,truncate| %> 
      <%= event.starts_at.strftime('%I:%M%p') %>
      <%= link_to event.name.truncate(25), event_path(event) %> 
    <% end -%> 
  <% end -%>
  
<% else %>

  <div id="calendar">
    <h2 id="date">
      <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
    </h2>
    <%= calendar_for @events, :year => @date.year, :month => @date.month do |calendar| %>
      <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
      <%= calendar.day(:day_method => :start_time) do |date, events| %>
        <%= date.day %>
        <% member_content do %>
          <%= link_to raw('Book it? <i></i>'), new_event_path( :date => date.strftime('%Y-%m-%d') ), :class => 'reserve-link', :title => 'Reserve' %>
        <% end %>        
        <% events.each do |event| %>
          <div class="event">
            <div class="time"><%= event.starts_at.strftime('%I:%M%p') %> - <%= event.ends_at.strftime('%I:%M%p') %></div>
            <%= link_to event.name.truncate(25), event %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div> 

<% end %>