<h1>Hasty Admin Page</h1>
<p>
<%= form_tag scan_media_index_path, :method => 'post' do %>
    <label>Scan UPC or ASIN (into catalog):
    <%= text_field_tag :upc, params[:upc] %>
    </label>
    <%= submit_tag "Import", :name => nil %>
    
    <ul>
      <li><%= link_to 'Categorize Media', categorize_media_index_path %></li>
      <li><%= link_to 'Check Categories', check_categories_path %></li>      
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'Media Inventory', inventory_media_index_path %></li>
      <li><%= link_to 'Authors', authors_path %></li>
      <li><%= link_to 'Publishers', publishers_path %></li>
      <li><%= link_to 'Media Locations', media_locations_path %></li>
    </ul>
<% end %>
</p>