<%= form_for @room do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.collection_select :location_id, Location.all, :id, :name %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </p>
  <p><%= f.submit %></p>
<% end %>
