<% title "Rooms" %>

<% for room in @rooms %>
  <tr>
    <td><%= room.location_id %></td>
    <td><%= room.capacity %></td>
    <td><%= link_to "Show", room %></td>
    <td><%= link_to "Edit", edit_room_path(room) %></td>
    <td><%= link_to "Destroy", room, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

<p><%= link_to "New Room", new_room_path %></p>
