<% title "Room" %>

<p>
  <strong>Location:</strong>
  <%= @room.location_id %>
</p>
<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <%= link_to "Edit", edit_room_path(@room) %> |
  <%= link_to "Destroy", @room, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", rooms_path %>
</p>
