<%= form_for @media do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </p>
  <p>
    <%= f.label :publisher_id %><br />
    <%= f.collection_select :publisher_id, Publisher.all, :id, :name, :prompt => true %>
  </p>

  <%= f.fields_for :authorships do |a| %>
    <p>
      <%= a.label :author_id %><br />
      <%= a.collection_select :author_id, Author.all, :id, :name, :prompt => true %>
    </p>
  <% end %>
      
  <p>
    <%= f.label :asin %><br />
    <%= f.text_field :asin %>
  </p>
  <p>
    <%= f.label :copy_number %><br />
    <%= f.number_field :copy_number %>
  </p>
  <p>
    <%= f.label :type_id %><br />
    <%= f.collection_select :type_id, MediaType.all, :id, :name, :prompt => true %>
  </p>
  <p>
    <%= f.label 'Categorization' %><br />
    <%= f.collection_select :subcategory_id, Subcategory.all( :include => :category ).sort_by(&:full_name), :id, :full_name, :prompt => true %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.collection_select :location_id, MediaLocation.all, :id, :name, :prompt => true %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
