<% title "Media" %>

<p>
<%= form_tag search_media_index_path, :method => 'get', :id => 'mediasearch' do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</p>

<% for media in @media %>
<div class="media">
  <%= link_to image_tag( media.image_url, :height => 275 ), media %>
  <div class="title"><%= link_to raw( media.title ), media %></div>
  <div class="author"><%= media.authors.collect { |a| a.name }.join(', ') %></div>
</div>
<% end %>

<div class="clear">
  <%= paginate @media %>
</div>

<% admin_content do %>
<p><%= link_to "New Media", new_media_path %></p>
<p>
  <%= form_tag import_media_index_path, :multipart => true do %>
    <label for="file">Import Amazon CSV file:</label>
    <%= file_field_tag "file" %>
    <%= submit_tag 'Upload' %>
  <% end %>  
<p>
<% end %>
