<% title "Media" %>

<table>
  <% for media in @media %>
    <tr>
      <td><%= image_tag media.image_url, :height => 120 %></td>
      <td><%= media.title %></td>
      <td>Some Category</td>
      <td><%= media.publisher.name %></td>
      <td><%= media.authors.collect { |a| a.name }.join(', ') %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Media", new_media_path %></p>
