<% title @media.title, false %>
<% color 'blue' %>

<%= image_tag( @media.image_url, :height => 200, :class => 'left' ) %>

<div id="description">
  <h2><%= @media.title %></h2>
  <h3><%= @media.authors.map(&:name).join(', ') %></h3>
  <p><%= media_label @media %></p>
  <%= raw @media.description %>
</div>

<% admin_content do %>
<p>
  <%= link_to "Edit", edit_media_path(@media) %> |
  <%= link_to "Destroy", @media, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", media_index_path %>
</p>
<% end %>
