<% title @media.title %>

<% @media.authors.each do |author| %>
  <%= author.name %><br />
<% end %>

<%= image_tag( @media.image_url ) %>

<table>
  <tr><td>isbn:</td><td><%= @media.isbn %></td></tr>
  <tr><td>asin:</td><td><%= @media.asin %></td></tr>  
</table>

<p id="description">
  <%= raw @media.description %>
</p>


<p>
  <%= link_to "Edit", edit_media_path(@media) %> |
  <%= link_to "Destroy", @media, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", media_index_path %>
</p>

<p>
Comments and social media junk goes here.
</p>
