<% title "News" %>

<% admin_content do %>
  <p><%= link_to "New Post", new_post_path %></p>
<% end %>

<% @posts.each_with_index do |post,i| %>
  <h2><%= link_to raw( post.title ), post %></h2>
  <%= raw post.body %>
  <p>Posted <%= time_ago_in_words( post.created_at ) %> ago</p>  
  <% admin_content do %>
    <%= link_to "Edit", edit_post_path(post) %> | 
    <%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  <% if i < @posts.length - 1 %><hr /><% end %>
<% end %>