<% color 'green' %>
<% @posts.each_with_index do |post,i| %>
  <div class="post">
    <h2 class="invert"><%= link_to raw( post.title ), post %></h2>
    <div class="meta">Posted <%= time_ago_in_words( post.created_at ) %> ago by <%= post.user.name %></div>
    <%= raw post.body %>
    <% admin_content do %>
    <p>
      <%= link_to "Edit", edit_post_path(post) %> | 
      <%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>
    </p>
    <% end %>
  </div>
  <% if i < @posts.length - 1 %><hr /><% end %>
<% end %>

<% admin_content do %>
  <p><%= link_to "New Post", new_post_path %></p>
<% end %>