<% title @post.title %>
<p>Posted <%= time_ago_in_words( @post.created_at ) %> ago by <%= @post.user.name %></p>
<%= raw @post.body %>
<% admin_content do %>
<p>
  <%= link_to "Edit", edit_post_path(@post) %> | 
  <%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %>
</p>
<% end %>

