<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : APP_CONFIG[:name] %></title>
    <link rel="stylesheet" href="/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/blueprint/print.css" type="text/css" media="print">     
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->    
    <script type="text/javascript" src="http://use.typekit.com/xeh3goa.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="orange">  
  <div class="container">
    <div id="header" class="span-24">
      <h1>/usr/lib</h1>
      <div id="signup">
        <% if user_signed_in? %>
          Hi, <%= link_to current_user.name, edit_user_registration_path( current_user ) %>!. Want to
          <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>?
        <% else %>
          <%= link_to "SIGN UP", new_user_registration_path %> or <%= link_to "SIGN IN", new_user_session_path %>
        <% end %>
        <% admin_content do %>
        <br />
        You are an <%= link_to 'ADMIN', admin_path %>!
        <% end %>
      </div>
      
      
      <%= form_tag(searches_path, :method => 'get') do %>
      <%= text_field_tag :q, params[:q], :size => '30' %>	
      <%= submit_tag "Search", :name => nil %>
      <% end %>
      
      
    </div>   
    <div id="menu" class="span-24">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "News", posts_path %></li>
        <li><%= link_to "Become a Member", new_member_path %></li>
        <li><%= link_to "Catalog", media_index_path %></li>
        <li><%= link_to "Location", locations_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Reserve a Room", new_event_path %></li>
        <li><%= link_to "Recommend a Book", new_recommendation_path %></li>                        
      </ul>
    </div>
    <hr />
    <% flash.each do |name, msg| %>
      <div class="flash <%= name %>"><%= msg %><a class="close" href="#close">close</a></div>
    <% end %>      
    <% if content_for?(:sidebar) %>
      <div id="content" class="span-16">
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>
      <div id="sidebar" class="span-8 last"><div id="sidebar-container"><%= yield :sidebar %></div></div>
    <% else %>
      <div id="content" class="span-24">
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>    
    <% end %>
    <hr />
    <div id="footer" class="span-24">
      Copyright <%= Time.now.year %>, usrlib.org.
      Powered by <%= link_to '/usr/share', share_page_path %>.      
    </div>    
  </div>

  </body>
</html>
