<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : APP_CONFIG[:name] %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="menu">
      <%= link_to_unless_current "Welcome", root_path %> |
      <%= link_to_unless_current "News", posts_path %> |
<% nonmember_content do %>
      <%= link_to_unless_current "Become a Member", new_member_path %> |
<% end %>
      <%= link_to_unless_current "Catalog", media_index_path %> |
      <%= link_to_unless_current "Location", locations_path %> |
      <%= link_to_unless_current "Events", events_path %> |
<% member_content do %>
      <%= link_to_unless_current "Reserve a Room", rooms_path %> |
<% end %>
      <%= link_to_unless_current "Recommend a Book", new_recommendation_path %> |
      <% if user_signed_in? %>
        Signed in as <%= current_user.name %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
      <% end %>
      <br />
      <%= form_tag search_media_index_path, :method => 'get' do %>
          <%= text_field_tag :term, params[:term] %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>
<% admin_content do %>
      | <%= link_to "Admin", admin_path %>
      <% end %>
</div>
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <div id="footer">
      Powered by <%= link_to "/usr/share", share_page_path %>
    </div>    
  </body>
</html>
