<% title "Member" %>

<p>
  <strong>User:</strong>
  <%= @member.user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @member.user.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>
<p>
  <strong>Company:</strong>
  <%= @member.company %>
</p>
<p>
  <strong>Address 1:</strong>
  <%= @member.address_1 %>
</p>
<p>
  <strong>Address 2:</strong>
  <%= @member.address_2 %>
</p>
<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>
<p>
  <strong>Postal:</strong>
  <%= @member.postal %>
</p>
<p>
  <strong>Country:</strong>
  <%= @member.country %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @member.notes %>
</p>

<p>
  <%= link_to "Edit", edit_member_path(@member) %> |
  <%= link_to "Destroy", @member, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", members_path %>
</p>
